
<div>jdskaj</div>


<!--<div class="content-wrapper">-->
  <!--&lt;!&ndash;&lt;!&ndash; Content Header (Page header) &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<section class="content-header">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1>&ndash;&gt;-->
      <!--&lt;!&ndash;Calendar&ndash;&gt;-->
      <!--&lt;!&ndash;<small>Control panel</small>&ndash;&gt;-->
    <!--&lt;!&ndash;</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;<ol class="breadcrumb">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="active">Calendar</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ol>&ndash;&gt;-->
  <!--&lt;!&ndash;</section>&ndash;&gt;-->

  <!--&lt;!&ndash; Main content &ndash;&gt;-->
  <!--<section class="content">-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<div class="box box-solid">-->
          <!--<div class="box-header with-border">-->
            <!--<h4 class="box-title">Draggable Events</h4>-->
          <!--</div>-->
          <!--<div class="box-body">-->
            <!--&lt;!&ndash; the events &ndash;&gt;-->
            <!--<div id="external-events">-->
              <!--<div class="external-event bg-green">Lunch</div>-->
              <!--<div class="external-event bg-yellow">Go home</div>-->
              <!--<div class="external-event bg-aqua">Do homework</div>-->
              <!--<div class="external-event bg-light-blue">Work on UI design</div>-->
              <!--<div class="external-event bg-red">Sleep tight</div>-->
              <!--<div class="checkbox">-->
                <!--<label for="drop-remove">-->
                  <!--<input type="checkbox" id="drop-remove">-->
                  <!--remove after drop-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /. box &ndash;&gt;-->
        <!--<div class="box box-solid">-->
          <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">Create Event</h3>-->
          <!--</div>-->
          <!--<div class="box-body">-->
            <!--<div class="btn-group" style="width: 100%; margin-bottom: 10px;">-->
              <!--&lt;!&ndash;<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>&ndash;&gt;-->
              <!--<ul class="fc-color-picker" id="color-chooser">-->
                <!--<li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>-->
                <!--<li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; /btn-group &ndash;&gt;-->
            <!--<div class="input-group">-->
              <!--<input id="new-event" type="text" class="form-control" placeholder="Event Title">-->

              <!--<div class="input-group-btn">-->
                <!--<button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>-->
              <!--</div>-->
              <!--&lt;!&ndash; /btn-group &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /input-group &ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.col &ndash;&gt;-->
      <!--<div class="col-md-9">-->
        <!--<div class="box box-primary">-->
          <!--<div class="box-body no-padding">-->
            <!--&lt;!&ndash; THE CALENDAR &ndash;&gt;-->
            <!--<div id="calendar"></div>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /. box &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.col &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.row &ndash;&gt;-->
  <!--</section>-->
  <!--&lt;!&ndash; /.content &ndash;&gt;-->
<!--</div>-->

