<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="wrapper">-->
  <!--*ngIf = "show"-->
  <!--<app-login  (showResult)="showResultHandler($event)" (showUser)="showUserHandler($event)" ></app-login >-->

  <!--<div *ngIf = "!show">-->
  <!-- Main Header -->
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-menu></app-menu>
  <!-- Content Wrapper. Contains page content -->
  <app-content></app-content>
  <!--<h2>{{userName}}</h2>-->
  <!--<h2>是撒</h2>-->

  <!--</div>-->
<!--</div>-->
