<aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image" style=" height: 46px;">

          </div>
          <div class="pull-left info">
            <p>是他</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header">目录</li>

          <!--<li  *ngFor="let menu of menus" [ngClass]="{'active':currentId== menu.id}">-->
          <!--<li  *ngFor="let menu of menus" [class.active] = 'currentId== menu.id'>-->
            <!--<a href="javascript:;" (click)="nav(menu)" >-->
              <!--&lt;!&ndash;<i class="fa fa-link"></i>&ndash;&gt;-->
              <!--<i [ngClass]="{'fa fa-bell-o':menu.id==1}"></i>-->
              <!--<i [ngClass]="{'fa fa-envelope-o':menu.id==2}"></i>-->
              <!--<i [ngClass]="{'fa fa-clock-o':menu.id==3}"></i>-->
              <!--<i [ngClass]="{'fa fa-users':menu.id==4}"></i>-->
              <!--<span>{{menu.name}}</span>-->
            <!--</a>-->
          <!--</li>-->

          <li>
            <a href="javascript:;" [routerLink]="['./home',4848]" ><i class="fa fa-bell-o"></i> <span>首页</span></a>
          </li>
          <li>
            <a href="javascript:;" [routerLink]="['./address']" [queryParams]="{id:1}" ><i class="fa fa-envelope-o"></i> <span>日程</span></a>
          </li>
          <li>
            <a href="javascript:;" [routerLink]="['./httpdata']" ><i class="fa fa-clock-o"></i> <span>数据请求</span></a>
          </li>
          <li>
            <a href="javascript:;" [routerLink]="['./zhuService']" ><i class="fa fa-users"></i> <span>依赖注入</span></a>
          </li>

          <li>
            <a href="javascript:;" [routerLink]="['./activeform']" ><i class="fa fa-users"></i> <span>响应式表单</span></a>
          </li>

          <li>
            <a href="javascript:;" [routerLink]="['./pine']" ><i class="fa fa-users"></i> <span>事件管道</span></a>
          </li>

          <li>
            <a href="javascript:;" [routerLink]="['./bind']" ><i class="fa fa-users"></i> <span>观察者数据流</span></a>
          </li>

          <li>
            <a href="javascript:;" [routerLink]="['./gouzi']" ><i class="fa fa-users"></i> <span>事件钩子</span></a>
          </li>


        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
