<form [formGroup]="formModel" (submit)="createUser()" >
  <div>昵称: <input formControlName="nickName" type="text"></div>
  <div>邮箱:
    <ul formArrayName="">
      <li ngFor="let email of formModel.get('emails').controls; let i=index">
        <input [formControlName]="i" type="email">
      </li>
    </ul>
    <button type="button" (click)="addEmail()" >添加邮箱</button>
  </div>
  <div>手机号: <input formControlName="mobile" type="number"></div>
  <div formGroupName="passwordInfo">
    <div>密码：<input  formControlName="password"  type="password"></div>
    <div>确定密码 <input  formControlName="passwordConfirm"  type="password"></div>
  </div>
  <button type="submit">提交</button>
</form>
