
  <div class="tabbable" id="tabs-958716"><!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#panel-62368" >第一部分</a></li>
      <li><a data-toggle="tab" href="#panel-223738" >第二部分</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" contenteditable="true" id="panel-62368">
        <p>第一部分内容.</p>

      </div>

      <div class="tab-pane" contenteditable="true" id="panel-223738">
        <p>第二部分内容.</p>
      </div>
    </div>
  </div>


